/AndroidPlugin/Library
/AndroidPlugin/ProjectSettings
/AndroidPlugin/AndroidPlugin.sln
/AndroidPlugin/AndroidPlugin.userprefs
/AndroidPlugin/AndroidPlugin-csharp.sln
/AndroidPlugin/Assembly-CSharp.csproj
/AndroidPlugin/Assembly-CSharp-vs.csproj
